{% extends 'base.html' %}
{% load static %}
{% block title %}OTP | Verify{% endblock title %}

{% block body%}
    <!-- log in section start -->
    <h2 class="text-center mt-3"><u><b>One-time password Verification</b></u></h2>
    <section class="log-in-section otp-section section-b-space" style="margin-top: 8%;">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                    <div class="image-contain">
                        <img src="{% static 'assets1/images/inner-page/otp.png' %}" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <div class="log-in-box" style="width: 1000px;">
                            <div class="log-in-title">
                                <h3 class="text-title">Please enter OTP to verify your account</h3>
                                <h5 class="text-content">A code has been sent to <b>{{user.email}}</b></h5>
                            </div>
                            <div id="otp" class="inputs d-flex flex-row justify-content-center">
                                <form class="row g-4" action="{% url 'otp_verify' %}" method="POST">
                                    {% csrf_token %}
                                    {% include 'message.html' %}
                                   <div class="col-12">
                                      <div class="form-floating theme-form-floating log-in-form">
                                         <input type="number" class="form-control" id="otp" placeholder="Enter OTP Number" name="otp" onfocus="this.placeholder = ''" onblur="this.placeholder = 'otp'" required>
                                         <label for="otp">OTP Number</label>
                                         <input type="hidden" name="user_otp" value="{{user.email}}">
                                      </div>
                                   </div>
                                   <div class="col-12">
                                      <button class="btn btn-animation w-100 mt-3" type="submit">Validate</button>
                                   </div>
    
                                </form>
                            </div>
                        
                            <!-- <div id="otp" class="inputs d-flex flex-row justify-content-center">
                                <input class="text-center form-control rounded" type="text" id="first" maxlength="1"
                                    placeholder="0">
                                <input class="text-center form-control rounded" type="text" id="second" maxlength="1"
                                    placeholder="0">
                                <input class="text-center form-control rounded" type="text" id="third" maxlength="1"
                                    placeholder="0">
                                <input class="text-center form-control rounded" type="text" id="fourth" maxlength="1"
                                    placeholder="0">
                                <input class="text-center form-control rounded" type="text" id="fifth" maxlength="1"
                                    placeholder="0">
                                <input class="text-center form-control rounded" type="text" id="sixth" maxlength="1"
                                    placeholder="0">
                            </div> -->

                            <div class="send-box pt-4">
                                <h5>Didn't get the code? </h5>
                                <!-- <a href="#" onclick="ResendOTP('{{user.email}}','ResendOTPmessage')" class="theme-color fw-bold" id="ResendOTPmessage">
                                    Resend OTP
                                </a> -->
                                <form action="{% url 'resend_OTP' %}" method="GET">
                                    <input type="hidden" name="otp" value="{{user.email}}">
                                    <button type="submit" class="theme-color fw-bold">Resend OTP</button>
                                </form>
                                
                            </div>

                            <!-- <button onclick="location.href = 'index.html';" class="btn btn-animation w-100 mt-3"
                                type="submit">Validate</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- log in section end -->

{% endblock body%}