{% extends 'base.html' %}
{% load static %}
{% block title %}Registration | Seller-Info{% endblock title %}

{% block body%}



<!-- log in section start -->
<section class="log-in-section section-b-space">
    <div class="container-fluid-lg w-100">
        <div class="row">
            <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                <div class="image-contain">
                    <img src="{% static 'assets1/images/inner-page/sign-up.png' %}" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                <div class="log-in-box">
                    <div class="log-in-title">
                        <h3 class="text-center">Welcome To Seller Account</h3>
                        <h4 class="text-center">Create New Account</h4>
                    </div>

                    <div class="input-box">
                        {% include 'message.html' %}
                        <form class="row g-4" action="{% url 'seller_info' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    <input type="text" class="form-control" id="shop_name" placeholder="Shop Name" required name="shop_name">
                                    <label for="shop_name">Shop Name</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    <input type="file" class="form-control" id="tread_licence" placeholder="Tread Licence" required name="tread_licence">
                                    <label for="tread_licence">Tread Licence Scanning Copy</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating theme-form-floating">
                                    <input type="file" class="form-control" id="nid" placeholder="NID Copy" required name="nid">
                                    <label for="nid">NID Scanning Copy</label>
                                </div>
                            </div>                    

                            <div class="col-12">
                                <input type="hidden" name="user" value="{{user.email}}">
                                <button class="btn btn-animation w-100" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>


                    <div class="other-log-in">
                        <h6></h6>
                    </div>

                    <div class="sign-up-box">
                        <h4>Already have an account?</h4>
                        <a href="{% url 'user_login' %}">Log In</a>
                    </div>
                </div>
            </div>

            <div class="col-xxl-7 col-xl-6 col-lg-6"></div>
        </div>
    </div>
</section>
<!-- log in section end -->



{% endblock body%}
